<div class="ms-Grid-row">
   <!-- App navigation bar markup. -->
   <div class="ms-NavBar">
      <ul class="ms-NavBar-items">
         <li class="navbar-header">BACI Office 365 Scripts</li>
         <li id="disconnect_link" class="ms-NavBar-item ms-NavBar-item--right" onclick="window.location.href='disconnect'"><i class="ms-Icon ms-Icon--x"></i> Disconnect</li>
      </ul>
   </div>
   <!-- App main content markup. -->
      <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
         <div>
            <h2 class="ms-font-xxl ms-fontWeight-semibold">Drive Items to work on</h2>
            {{drive_data}}
            
         </div>
      </div>
</div>